<!DOCTYPE html>
<html>
<head>
    <p>Registration closed.</p>
</head>
<body>
    <h1>Registration is CLOSED today.</h1>
    <br />
    <br />
    <br />
    <p>Wow, I've never seen such a hard-working student.</p>
    <p>Today is SUNDAY. Why are you coming here?</p>
    <img id="logo" src="{{ url_for('static', filename='image/squirtledance.gif') }}">
    <img id="logo" src="{{ url_for('static', filename='image/squirtledance.gif') }}">
    <img id="logo" src="{{ url_for('static', filename='image/squirtledance.gif') }}">
    <img id="logo" src="{{ url_for('static', filename='image/squirtledance.gif') }}">
</body>
</html>
